@inject NavigationManager NavigationManager
<CascadingAuthenticationState>
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                    @if((context.User?.Identity?.IsAuthenticated ?? false) == false)
                    {
                        
                        var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
                        <RedirectToLogin ReturnUrl="@returnUrl"/>    
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            <p>You are not authorized to access this resource.</p>
                        </div>    
                    }
                </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
</CascadingAuthenticationState>
