@inherits DemoBorderModel

@{
    string showDemoStepCss = ShowDemoStep() ? IsButton ? "demo-primary-border" : "demo-success-border" : "";
}
<div class=@($"{Class} {showDemoStepCss}")>
    @ChildContent
</div>