@page "/users/emailconfirmed"
@inherits EmailConfirmedModel

<PageTitle>Survey Shark - Email Confirmed</PageTitle>
<MudStack Justify="Justify.Center">
    <MudPaper class="d-flex justify-content-center mud-theme-primary" style="height:100px;width:80vw;">

        <h3 class="align-self-center">Email confirmed! Please log in.</h3>

    </MudPaper>
</MudStack>