@page "/users/emailnotconfirmed"

<PageTitle>Survey Shark - Email not Confirmed</PageTitle>

<MudStack Justify="Justify.Center">
    <MudPaper class="d-flex justify-content-center mud-theme-primary" style="height:100px;width:80vw;">

        <h3 class="align-self-center">Email Not confirmed! Edit your email address in your user profile.</h3>

    </MudPaper>
</MudStack>
