@page "/not-authorized"
@inherits NotAuthorizedModel

<PageTitle>Survey Shark - Not Authorized</PageTitle>

<h3>You are not authorized to AuthorizeView this resource.</h3>
<p>Click <a href="login">here</a> to login.</p>