@page "/users/emailsent"
@inherits PleaseCheckYourEmailModel

<PageTitle>Survey Shark - Email Sent</PageTitle>

<MudStack Justify="Justify.Center">
    <MudPaper class="d-flex justify-content-center mud-theme-primary" style="height:100px;width:80vw;">

        <h3 class="align-self-center">We've sent an email to you at @Email. Please click the link in the email to confirm. The email will come from @(AppSettings?.EmailSettings?.Domain ?? "").</h3>

    </MudPaper>
</MudStack>